.post {
  padding-bottom: 20px;

  &__body {
    padding-bottom: 10px;
  }

  &__author {
    padding-bottom: 10px;
    font-style: italic;
  }

  &__tags {
    padding-bottom: 10px;
    font-style: italic;
  }

  &__created-at {
    text-align: right;
  }
}
